@model IEnumerable<VMMachineManage.Models.Common_DepartmentModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">新增</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepId">编辑</a> |
                <a asp-action="Details" asp-route-id="@item.DepId">查看</a> |
                <a asp-action="Delete" asp-route-id="@item.DepId">删除</a>
            </td>
        </tr>
}
    </tbody>
</table>
