@model VMManageSystem.Models.VirtualMachine

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VirtualMachine</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineIP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineDiskCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineDiskCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineMemory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineMemory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachineUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachineUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MachinePassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MachinePassword)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MachineId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
