@model VMMachineManage.Models.PersonnelInfoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonnelInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonnelSex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonnelSex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityCard)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityCard)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsWork)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaritalStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaritalStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiveAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiveAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeChatAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeChatAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mailbox)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mailbox)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OnBoarDingTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OnBoarDingTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrialTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrialTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsStruggle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsStruggle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSecrecy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSecrecy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonnelId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
