@model VMMachineManage.Models.MachineInfoViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>虚拟机管理</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">创建虚拟机</a>
</p>
<form asp-controller="" asp-action="">
    <p>
        <input type="text" name="searchString" />
        <input class="btn btn-primary" type="submit" value="搜索" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineDiskCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineMemory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachineUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineInfo[0].MachinePassword)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MachineInfo)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineIP)
                </td>
                <td>
                    @if (item.MachineSystem==0)
                    {
                        <span>Windows</span>
                    }
                    @if (item.MachineSystem==1)
                    {
                        <span>Linux</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineDiskCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineMemory)
                </td>
                <td>
                    @if (item.MachineState==0)
                    {
                        <span>空闲</span>
                    }
                    @if ( item.MachineState==1)
                    {
                        <span>申请</span>
                    }
                    @if (item.MachineState==2)
                    {
                        <span>使用</span>
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachinePassword)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.MachineID">编辑</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.MachineID">查看</a>
                    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@item.MachineID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
