@model IEnumerable< VMMachineManage.Models.MachineInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>可申请虚拟机</h1>

<form asp-controller="MachApplyAndReturn" asp-action="Index">
    <p>
        <input type="text" name="searchString" />
        <input type="submit" value="搜索" class="btn btn-primary" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineDiskCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMemory)
            </th>
            <th>
                <span >空闲数量</span>
            </th>
            <th>
                <span >操作</span>
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.MachineSystem == 0)
                    {
                        <span>Windows</span>
                    }
                    @if (item.MachineSystem == 1)
                    {
                        <span>Linux</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineDiskCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineMemory)
                </td>
                <td>
                   @Html.DisplayFor(modelItem=>item.MachineState)
                </td>
                <td>
                    <a class="btn btn-primary" href="MachApplyAndReturn/Create?machineSystem=@item.MachineSystem&machineDiskCount=@item.MachineDiskCount&machineMemory=@item.MachineMemory&freeNumber=@item.MachineState">申请</a>
                </td>
            </tr>
        }
    </tbody>
</table>
